.homeBody {
    background-color: rgb(250, 250, 250)
};


.btsMainPic {
    /* background-image: url('./images/bts-m.jpeg'); */
    background-repeat: no-repeat;
    width: 600px;
    height: 400px;
    place-items: center;
    display: block;
    margin: 0 auto;
    padding: 40px;
    border: solid red 3px;
} 

.membersImages {
    margin: 10px;
    width: 800px;
    height: 800px;
    /* padding: 40px; */
    float: left;
    width: auto;
    text-align: center;
    font-size: 25px;
    color: black;

}

.membersImages, h1 {
    color: black
}

.Jk {
    padding: 15px;
    width: 475px;
    height: 500px;
    grid-column:1;
    grid-row: 3;
}

.Jin {
    padding: 15px;
    width: 325px;
    height: 450px;
    grid-column: 1;
    grid-row: 3;
}

.RM {
    padding: 15px;
    width: 325px;
    height: 450px;
    grid-column: 2/4;
    grid-row: 3;
}

.Jhope {
    padding: 15px;
    width: 425px;
    height: 500px;
    grid-column: 2/4;
    grid-row: 3;
}

.Jimin {
    padding: 15px;
    width: 350px;
    height: 450px;
    grid-column: 2/4;
    grid-row: 3;
}

.Suga {
    padding: 15px;
    width: 500px;
    height: 500px;
    grid-column: 2/4;
    grid-row: 3;
}

.V {
    padding: 15px;
    width: 350px;
    height: 450px;
    grid-column: 2/4;
    grid-row: 3;
}

.memberBio {
    padding: 25px;
    font-size: 30px;
    color: black
}

.memberBioPic img{
    margin: 10px;
    width: 800px;
    height: 800px;
    /* padding: 40px; */
    float: left;
    text-align: center;
    font-size: 25px;
    color: black;
}

