.homeBody {
    background: black
};

.bts, h1 {
    text-align:center;
    font-size: 100px;
    color: white;
    font-family: 'Camber-SB', 'NotoSansCJKkr-M';
}

.btsMainPic {
    /* background-image: url('public/images/bts-m.jpeg'); */
    background-repeat: no-repeat;
    width: 1050px;
    height: 700px;
    margin: auto;

} 

.MembersImages {
    margin: 10px;
    display: flex;
    width: 400px;
    height: 400px;
}

