
.song-display {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.artist-display {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.playlist {
    align-items: center;
    justify-content: center;
    /* padding: 40px */
}

.resultsBody {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    
.resultsBody {
    /* background-color: #7cc6fe; */
    /* display: flex; */
    /* justify-content: center;
    align-items: center;
    min-height: 100vh; */
    /* background: #a8c0ff;
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
    background: linear-gradient(to right, #3f2b96, #a8c0ff);  */
    /* padding-top: 20px; */
    /* overflow-y: hidden; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 
}




.artist-image img{
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.reactAudioPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto 
}