
.song-display {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.artist-display {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto 
}
.playlist {
    border: outset;
    border: medium solid;
    border-color: lavender;
    padding: 10px;
    box-shadow: 6px 4px 8px;
    border-width: 3em ;
    border-radius: 15px 15px;
    width: 300px;
    height: 300px;
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.resultsBody {
    margin: 0;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }
    
    
.resultsBody {

    padding-top: 20px;
    /* overflow-y: hidden; */
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    padding: 20px;
    float:left;
    position: relative;
    /* text-align: center;
    justify-content: center;
    align-items: center; */

}

.artist-image img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reactAudioPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto 
}