
.song-display {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.artist-display {
    color: black;
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.resultsBody {
    /* padding-top: 20px; */
    /* margin-left: 30px;
    margin-right: auto; */
    /* display:inline-block; */
    display: flex;
    /* flex-wrap: wrap; */
    /* float:left; */
    /* align-content: center; */
    justify-content: center; 
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px;
    /* margin: auto;
    width: 100%; */
    /* flex-direction: row; */
}

.playlist {
    border: outset;
    border: medium solid;
    border-color: rgb(200, 200, 228);
    box-shadow: 6px 4px 8px;
    border-width: 3em ;
    border-radius: 15px 15px;
    width: 300px;
    height: 300px;
    color: black;
    display: block;
    text-align: center;
}

.artist-image img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.reactAudioPlayer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}