/* .homeBody {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: auto auto auto auto;
    grid-gap: 20px;
    justify-items: space-evenly;
} */


.App-Main-header, h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Camber-SB', 'NotoSansCJKkr-M';
    background: black;
}

body {
    background: black
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    display: block;
    padding: 8px;
}

.membersImages {

}