.App-Main-header, h2 {
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: 'Camber-SB', 'NotoSansCJKkr-M';
    /* background: #a8c0ff;
    background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);
    background: linear-gradient(to right, #3f2b96, #a8c0ff); 
    padding-top: 80px;
    overflow-y: hidden; */
}

body {
    background: black
}